// body { cursor: ns-resize }
.intro-section {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);
$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #533d4a;


.home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.05;
  font-weight: 400;
  letter-spacing: -.015em;
  font-family: "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-family: 'Fjalla One', sans-serif;
  background: $background;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);
$red: #e55643 ;
$green: #2b9f5e;
$yellow: #f1c83c;
$shadow: #533d4a;

html{
  height: 100%;
}

.home-content{
  font-family: 'Fjalla One', sans-serif;
  background: $background;
}

.container{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 225px;
}



h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
	font-size: 4em;
	color: white;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 25ch;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  font-size: 2em;
}



@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.home-buttons {
  display: inline-block;
}


.navbar-inner {
  background:transparent;
}

.apps {
  margin: auto;
  width: 90%;
  padding: 20px;
}


.image-hover-text-container 
{
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  transition: all 0.2s linear;
}

.image-hover-image 
{
 display: block;
}
/* Make the image round */
.image-hover-image img
{
  border-radius: 0%;
  width: 100%;
}



.image-hover-text 
{
  position: absolute;
  top: 0;
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  cursor: default;
  transition: opacity 0.2s linear;
}
.image-hover-text:hover 
{
  opacity: 2;
}


.image-hover-text-bubble 
{
  position: relative;
  box-sizing: border-box;
  top: 0; left: 0; right: 100%;
  height: 100%;
  text-align: center;
  background: rgba(218, 211, 211, 0.9);
  opacity: 0.75;
  border-radius: 0%;
  margin: 0 auto;
  padding: 30% 0px;
  overflow: hidden;
  font-size: 17px;
  text-align: center;
  word-wrap: break-word;
  text-decoration: underline;
}

.image-hover-text .image-hover-text-title
{
  font-size: 25px;
  display: block;
  color: black;
}

.home-view{
  background-image: url(https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&w=1600) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link {
  color: black;
  text-decoration:none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration:none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration:none;
}

/* selected link */
a:active {
  color: black;
  text-decoration:none;
}

/*wrapper element so column padding doesn't affect fixed header background*/
.scroll-window-wrapper{
  position:relative;
  padding: 50px;
}
/* element containing the table */
.scroll-window{
	height: 20rem;
	overflow-x: hidden;
	overflow-y: scroll;
}
.scroll-window table{
  margin-bottom:0;
}
	/*fixed header background*/
.scroll-window:before{
	content:"";
	position: relative;
	width:100%;
	height:2.5rem;
	display: table;
	z-index: 10;
	background:rgba(170,170,170,0.8);
  border: #2b9f5e;
}



#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  justify-content: center;
  padding: 10%;
  border: #2b9f5e;
  width: 100%;
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.home-header {
  text-align: center;
  margin-top: 5%;
  width: 50%;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

ul {list-style-type: none;}

.day {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  border: 1px solid;
  font-size: 1vw;
}

.days ::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.day-title{
  font-weight: 500;
  cursor: default;
  border: 1px solid;
  text-align: center;
  justify-content: center;
  border: 1px solid;
  margin: 20%;
  font-size: 1.5vw;
}


.calendar{
  border-collapse: collapse;
  border: 1px solid;
  padding: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-top: bottom;
  table-layout: fixed;
  height: 80vh;
}

.date_header{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  font-size: 5vh;
  text-align: center;
}

.upcoming-tasks{
  width: auto;
  border: 3px solid green;
}

.task-view{
  width: 100%;
  border: 3px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.to_do_list{
  width: auto;
  border: 3px solid green;
}

.todoList {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #171717;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(75, 70, 6, 0.3);
}

.cover-img .cover-inner {
  background: url(https://images.unsplash.com/photo-1565172265978-aaa872e3f618?ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80);
  height: 190px;
  background-size: cover;
  background-position: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.cover-img .cover-inner::after {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cover-img h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  z-index: 10;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
}

.content {
  padding: 10px 20px;
}

.content form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px 0 5px;
  border-bottom: 1px solid #cccccc;
}

.content form > * {
  background: transparent;
  border: none;
  height: 35px;
}

.content input[type="text"] {
  padding: 0 5px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #c7c7c7;
  outline: none;
}

.content input-buttons a {
  text-decoration: none;
}

.content input-buttons i {
  margin-top: 5px;
  font-size: 20px;
  color: #eaeaea;
}

.content ul .todos {
  margin-left: 0;
  padding: 0;
  letter-spacing: none;
  height: 220px;
  overflow: auto;
}

.align {
  padding: 0;
}

.content li {
  user-select: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.content li i {
  color: #c3c3c3;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}

.content input[type="checkbox"] {
  display: none;
}

.content input[type="checkbox"] + label {
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 5px 5px 40px;
}

.content input[type="checkbox"] + label:hover {
  color: #bebebe;
  background-color: #3e3e3e;
}

.content input[type="checkbox"] + label span.check {
  left: 4px;
  top: 50%;
  position: absolute;
  transform: translatey(-50%);
  width: 18px;
  height: 18px;
  display: block;
  background: #171717;
  border-radius: 3px;
  border: 1px solid #ffb510;
  box-shadow: -2px -2px 2px rgba(67, 67, 67, 0.5),
    inset 2px 2px 4px rgba(0, 0, 0, 0.5),
    inset -2px -2px 2px rgba(67, 67, 67, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content input[type="checkbox"]:checked + label {
  color: #e8e8e8;
  text-decoration: line-through;
}

.content input[type="checkbox"]:checked + label span.check {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.content input[type="checkbox"] + label span.check::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background-image: url("https://www.freepnglogos.com/uploads/tick-png/check-mark-tick-vector-graphic-21.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.3, 0, 0, 1.5);
}

.content input[type="checkbox"]:checked + label span.check::after {
  transform: scale(1);
}

.content input[type="checkbox"] + label span.check::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #d9d9d9;
  opacity: 0.8;
  transform: scale(0);
}

.content input[type="checkbox"]:checked + label span.check::before {
  opacity: 0;
  transform: scale(1.3);
  transition: opacity 300ms cubic-bezier(0.2, 0, 0, 1),
    transform 400ms cubic-bezier(0.3, 0, 0, 1.4);
}

.plus-icon {
    color:  #ffb510;
}